/* Tags */
h1 {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(2, 112, 2);
}

p {
  font-size: 1.5rem;
}

div {
  font-size: 1.5rem;
  margin: 1rem;
}

/* Classes */
.stimulus {
  font-size: 3rem;
}

/* Identifiers */
